body {
    font-family: Comic Sans MS;
    margin-top: 70px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

html { 
  background: url(https://wallpaperscraft.com/image/dark_circle_gray_black_9834_1920x1200.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
